@mixin icon($image, $size: 1rem, $position) {
    display: inline-block;
    background: {
        image: $image;
        repeat: no-repeat;
        position: $position;
        size: $size;
    }
}

@mixin margin-vertical($size: 30px) {
    margin-bottom: $size;
    margin-top: $size;
}

@mixin margin-horizontal($size: 30px) {
    margin-left: $size;
    margin-right: $size;
}

@mixin icon-danger {
    content: url("/resources/images/icons/alert-triangle.svg");
    fill: none;
    color: $white !important;
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}
