$fonts: "Rubik", sans-serif;

// Colors of the palette
$white: #ffffff;
$gray: #636b6f;
$black: #222222;
$light-purple: #f1efff;
$dark-purple: #0a003f;
$gray-purple: #b8b7bc;
$pink: #fcb4b7;
$blue: #2e63ea;
$red: #da3d1d;

// Alias to give them a "meaning"
$background: $white;
$accent-background: $light-purple;
$button-background: $blue;
$footer-background: $pink;
$text-color: $dark-purple;
$h-color: $dark-purple;
$border-color: $black;
$input-border: $dark-purple;
$input-error: $red;
$project-pres-border: $dark-purple;
$button-text-color: $dark-purple;
$link-color: $blue;
$link-hover-color: #ff8c90;
$link-basic-color: $dark-purple;
$placeholder: $gray-purple;
$label-color: $dark-purple;
$show-text-color: $dark-purple;
$border-radius: 4px;
$big-border-radius: 20px;
$circle-number: 40px;
$filter-dark-purple: invert(9%) sepia(26%) saturate(6646%) hue-rotate(242deg)
    brightness(88%) contrast(121%);
$filter-red: invert(27%) sepia(79%) saturate(1450%) hue-rotate(344deg)
    brightness(104%) contrast(103%);

$home-title-font-size: 36px;
$home-title-font-size-l: 30px;
$home-title-font-size-m: 24px;
$filter-white: invert(100%) sepia(0%) saturate(85%) hue-rotate(61deg)
    brightness(117%) contrast(100%);
$big-border-size: 4px;

$navbar-background: $white;

$large-font-size: 1.5rem;
$small-font-size: 0.875rem;

$small-gutter: 15px;
$medium-gutter: 40px;
$large-gutter: 70px;
$xlarge-gutter: 140px;

$breakpoint-small: 640px;
$breakpoint-medium: 960px;
$breakpoint-large: 1200px;

$modal-filter: #0a003f69;
$modal-border: $dark-purple;
$modal-radius: $border-radius;

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/rubik/rubik-light.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-regular.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Rubik";
    font-weight: medium;
    src: url("../fonts/rubik/rubik-medium.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Rubik";
    font-weight: bold;
    src: url("../fonts/rubik/rubik-bold.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@import "mixins";
@import "base";
@import "utils";
@import "inputs";
@import "components/footer";
@import "components/_project_pres";
@import "components/accordion";
@import "components/slider";
@import "components/navbar";
@import "pages/welcome";
@import "pages/tips-contribution";
@import "components/filters";
@import "components/v1";
@import "components/modal";
