.modal-filter {
    display: none;
    background-color: $modal-filter;
    // mix-blend-mode: darken;

    position: absolute;
    overflow: hidden;

    height: 100%;
    width: 100%;

    z-index: 2;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal--open + .modal-filter {
    display: block;
}

.modal {
    &--open {
        display: flex;
    }

    display: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    border: none;
    overflow: hidden;
    position: fixed;
    min-height: 100%;
    min-width: 100%;

    margin: 0px;
    padding: 0px;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;

    &__content {
        min-width: min-content;
        max-width: 50%;

        background-color: $white;
        border: 1px solid $modal-border;
        border-radius: $modal-radius;

        padding-bottom: 36px;

        header {
            color: $h-color;
            border-bottom: 1px solid $modal-border;
            padding: 14px 22px;

            h1 {
                margin: 0px;
                font-weight: 500;
                font-size: 36px;
            }
        }

        section {
            padding: 20px;

            form > div {
                margin-top: 29px;
            }

            textarea,
            input {
                margin-top: 5px;
                width: stretch;
                display: block;
            }

            textarea {
                height: 93px;
            }
        }

        footer {
            display: flex;
            justify-content: center;
            align-items: center;

            .link {
                margin-right: 40px;
            }
        }
    }
}
