.slider {
    position: relative;
}

.slider-container {
    transition: transform 1s;
    transform: translate3d(0, 0, 0);
    display: flex;
    width: 100%;

    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

.slider-item {
    float: left;
    flex: 1;
}

.slider-content {
    @extend .card, .card-radius, .background-default, .margin-medium-right;
    height: 100%;
    display: grid;
}

.slider-next,
.slider-prev {
    position: absolute;
    width: 33px;
    height: 33px;

    > i {
        filter: $filter-white;
        @include icon(url("/resources/images/icons/chevron-left.svg"), 28px, center);
        height: 100%;
        width: 100%;
    }

    background-color: $dark-purple;
    border-radius: $circle-number;
    top: -35%;
    left: 92%;
    cursor: pointer;
    transition: opacity 1s;

    &.slider-next-hidden,
    &.slider-prev-hidden {
        background-color: $dark-purple !important;
        opacity: 0.6;
        cursor: default;

        > i {
            filter: $filter-white !important;
        }
    }

    &:hover {
        > i {
            filter: $filter-dark-purple;
        }

        background-color: $white;
    }
}

.slider-next {
    > i {
        @include icon(url("/resources/images/icons/chevron-right.svg"), 30px, center);
    }

    left: 95%;
}

@media (max-width: $breakpoint-medium) {
    .slider-next,
    .slider-prev {
        display: none;
    }
}
